.Books{
    display: grid;
    grid-template-columns: repeat(4,1fr);
   padding-top: 50px;
   gap: 30px;
   font-family: 'Times New Roman', Times, serif;
}
.book-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 20px;
    background-image: url('https://images.pexels.com/photos/906150/pexels-photo-906150.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');

    background-color: #ffffff;
    background-position: center;
background-size: fit;
background-repeat: no-repeat;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.book-container:hover{
    background-image: url("https://w0.peakpx.com/wallpaper/294/237/HD-wallpaper-aestheticcloudssara-aestethic-aesthetic-blanco-clouds-fondo-de-pantalla-ios14-iphone.jpg");

}
.bookimage{
    width: 200px;
    height: 320px;
    border:2px solid black;
    border-radius: 2px;
}

.booktitle{
    color: rgb(0, 0, 0);
    font-weight: bolder;
}
